<html>
  <head>
    <title>
      RSPhp - Welcome
    </title>
  </head>
  <body>
    <h1>Welcome to RSPhp</h1>
    <p>Thank you so much for using RSPhp Framework</p>
    <p>Use the rsphp commands to help you create a great web application :)</p>
    <p>Create a database connection:</p>
    <pre>
      ./rsphp connection add --name=[name] --driver=[mysql|pgsql|dblib|sqlsrv] --hostName=[hostname|ipaddress] --databaseName=[databaseName] --userName="[user name]" --password=[password]
    </pre>
    <p>Create a controller:</p>
    <pre>
      ./rsphp controller create --name=[name] --doc="Controller documentation"
    </pre>
    <p>To add a view:</p>
    <pre>
      ./rsphp view add --name=[Folder\ViewName | ViewName] --type=[page|content]
    </pre>
    <p>To view the rsphp help:</p>
    <pre>
      ./rsphp help
    </pre>
    <p>View full documentation:</p>
    <p>
      <a href="https://rsphp.espino.info" target="_blank">https://rsphp.espino.info</a>
    </p>
  </body>
</html>
